---
import { metrics } from '@/config'
---

<div id='widget'>
  加载中...
</div>

<script is:inline type='module' data-astro-rerun define:vars={{ metrics: metrics }}>
  if (metrics.enable && metrics.widget) {
    fetch(metrics.widget)
      .then((res) => res.text())
      .then((data) => {
        let num = data.match(/(<\/span><span>).*?(\/span><\/p>)/g)
        if (!num) {
          console.warn('51.la 数据匹配失败')
          return
        }
        num = num.map((el) => el.replace(/(<\/span><span>|<\/span><\/p>)/g, ''))
        const titles = [
          '最近活跃',
          '今日人数',
          '今日访问',
          '昨日人数',
          '昨日访问',
          '本月访问',
          '总访问量'
        ]
        const container = document.getElementById('widget')
        let html = ''
        for (let i = 0; i < num.length; i++) {
          html += `<div>标题：${titles[i]}</div>`
          html += `<div>内容：${num[i]}</div>`
        }
        container.innerHTML = html
      })
      .catch((err) => {
        console.error('51.la 数据获取失败:', err)
        document.getElementById('widget').innerHTML = '加载失败'
      })
  }
</script>